.cabecera {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

img {
    margin: auto 5px;
}

li {
    color: white;
    list-style: none;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

section {
    display: grid;
    margin: 0 25px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 20px);
    gap: 25px;
}

section article img {
    width: 100%;
}