* {
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

img {
    margin: auto 5px;
}

li {
    color: white;
    list-style: none;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

section {
    display: grid;
    margin: 0 100px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 20px);
    gap: 100px;
}

section article img {
    width: 100%;
}

img:hover,
h3:hover {
    animation-name: escalarImagen, moverImagen;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    /*transform: scaleX(1.5) scaleY(1.2);*/
}

@keyframes escalarImagen {
    100% {
        transform: scaleX(1.5) scaleY(1.2);
    }
}

@keyframes moverImagen {
    100% {
        border-radius: 10px;
        transform: translateY(30px);
    }
}